$primary-color: #FF4500;   
$secondary-color: #FFFFFF; 
$dark-color: #000000;      

$text-color: #FFFFFF;
$text-color-light: #FFFFFF;
$hover-color: #FF4500;
$border-color: #FF4500;

$background-header: #000;
$background-footer: #000;
$shadow-color: rgba(255, 69, 0, 0.5); 
